/* FIX THIS!!!! Put into scss 'horses-for-sale.scss'. Do not leave as css. */

.card {
    margin: 0 auto;
    max-width: 95%;
    /* margin: 1rem 2rem; */
    
    background: #2B2B2B;
    font-size: 1.25rem;
   
}

.card__description {
   background: #2B2B2B;
   text-align: left;
   padding: 1rem;

   p {
    padding: 1rem 0;
   }

   p.read-more {
    padding: 0;
   }

  
}

.title-large {
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .card__description {
        padding: 2.5rem;
    }
}
