/* FIX THIS!!!! Put into scss 'horses-for-sale.scss'. Do not leave as css. */

.card {
    margin: 3rem auto;
    max-width: 95%;    
    background: #2B2B2B;
    font-size: 1.25rem;
}

.card__description {
   background: #2B2B2B;
   text-align: left;
   padding: 1rem;
   box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;

   p {
    padding: 1rem 0;
   }

   p.read-more {
    padding: 0;
   }
}

.title-large {
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .card__description {
        padding: 2.5rem;
    }
}
