.carousel-wrapper {
    position: relative;
    height: var(--slide-height);
    --slide-spacing: 1rem;
    --slide-size: 100%;
    /* --slide-height: 400px; */
    --slide-width: 700px;
}

.overflow-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}

.map-wrapper {
    margin-left: calc(var(--slide-spacing) * -1);
    display: flex;
    backface-visibility: hidden;
    touch-action: pan-y;
}

.card {
    position: relative;
    padding-left: var(--slide-spacing);
    min-width: 0px;
    flex: 0 0 var(--slide-size);
}


.card__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: var(--slide-height);
}

.buttons-wrapper {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%); */

    /* background-color: blueviolet; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 0;
    padding: 1rem;

    button {
        padding: 0;
        border: none;
        color: #30b4a9;
        font-size: 1rem;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: .5rem;
    }
}

.button__icon {
    /* display: inline-block; */
    width: 2rem;
    height: 2rem;
    /* fill: currentColor; */
    /* background-color: red; */
    fill: #30b4a9;
    cursor: pointer;
}

.button-dots-wrapper {
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: -1rem;
    /* color: #EF4444; */

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    z-index: 10;
}

button {
    background: transparent;
}

.button-dots__button {
    width: .5rem;
    height: .5rem;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;

    background-color: rgb(49 81 95);
    border: 1px solid #ffffff;
}

.button-dots__button.active {
    background-color: teal;
}