/* FIX THIS!!!! Put into scss 'horses-for-sale.scss'. Do not leave as css. */

.card {
    margin: 3rem auto;
    max-width: 95%;
    /* margin: 1rem 2rem; */
    
    background: #2B2B2B;
    font-size: 1.25rem;

    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 20%), 0px -3px 11px 1px rgb(0 0 0 / 50%);
   
}

.card__description {
   background: #2B2B2B;
   text-align: left;
   padding: 1rem;
   /* box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; */
   /* box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.13), 0px 1px 2px 0px rgba(0,0,0,0.11); */
   

   p {
    padding: 1rem 0;
   }

   p.read-more {
    padding: 0;
   }

  
}

.title-large {
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .card__description {
        padding: 2.5rem;
    }
}
