// =========================
// Membership Form
// =========================
#membership {
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, 0.75) 90%), url("../assets/img/tornjak-lipa.jpg") no-repeat center bottom;
        background-size: cover;

        @include desktop() {
            background: linear-gradient(to right, rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, 0.75) 90%), url("../assets/img/tornjak-lipa.jpg") no-repeat center 75%;
            background-size: cover;
            height: 600px;
        }
    }

    .overlap .offset-card {
        padding: 1rem 0 0 0;
        background: white;
        border: 1px solid $gold;
    }

    .two-col-text-block {
        p {
            flex: 1.75;
        }

        div {
            flex: 1;
            border: 1px white solid;
            padding: 10px;

            p:first-child {
                text-decoration: underline;
            }
        }
    }

    .membership-form {
        // padding: 5%;

        iframe {
            height: 4525px;

            @include desktop() {
                height: 3450px;
            }
        }

    }

    .square {
        &.one {
            background: linear-gradient(to bottom, rgba(11, 11, 11, .7) 15%, rgba(11, 11, 11, 0.7) 100%), url("../assets/img/show-zadok.jpg") no-repeat center;
            background-size: cover;

            &:hover {
                background: linear-gradient(to bottom, rgba(11, 11, 11, .5) 15%, rgba(11, 11, 11, 0.5) 100%), url("../assets/img/show-zadok.jpg") no-repeat center;
                background-size: cover;
            }
        }

        &.two {
            background: linear-gradient(to bottom, rgba(11, 11, 11, .7) 15%, rgba(11, 11, 11, 0.7) 100%), url("../assets/img/unethical-breeding-small.jpg") no-repeat center;
            background-size: cover;

            &:hover {
                background: linear-gradient(to bottom, rgba(11, 11, 11, .5) 15%, rgba(11, 11, 11, 0.5) 100%), url("../assets/img/unethical-breeding-small.jpg") no-repeat center;
                background-size: cover;
            }
        }

        &.three {
            background: linear-gradient(to bottom, rgba(11, 11, 11, .7) 15%, rgba(11, 11, 11, 0.7) 100%), url("../assets/img/tornjak-brita-pup.jpg") no-repeat center;
            background-size: cover;

            &:hover {
                background: linear-gradient(to bottom, rgba(11, 11, 11, .5) 15%, rgba(11, 11, 11, 0.5) 100%), url("../assets/img/tornjak-brita-pup.jpg") no-repeat center;
                background-size: cover;
            }
        }
    }
}
