#for-sale {
    background: $dark-medium;

    .hero {
        // background: linear-gradient(to right, rgba(0, 0, 0, .55) 15%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/maggie-horse-v2.jpg") no-repeat center 40%;
        background: linear-gradient(to right, rgba(0, 0, 0, .55) 15%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/for-sale-hero.jpg") no-repeat center 60%;
        background-size: cover;
    }

    hr {
        display: block;
        width: 3rem;
        margin-left: 0;
        border: 1px solid rgb(48, 180, 169);
    }


    .read-more {
        line-height: 1.4rem;
    }

    .line::after {
        display: none;
    }

    @include desktop() {
        hr {
            display: none;
        }

        .line::after {
            display: block;
            right: -4rem;
        }
    }
}

.horses-for-sale {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    @include desktop() {
        width: 85%;
        max-width: 1200px;
        padding: 5rem 0;
    }
}


.title-large {
    text-transform: capitalize;
}