// =========================
// Homepage
// =========================

// homepage - hero banner
//background img size: 477 x 600 (mobile)
//background img size: 1400 x 788 (desktop)
.hero {
    // option-2
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 15%, rgba(0, 0, 0, 0.53) 45%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/hero-mobile.jpg") no-repeat 50% 80%;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, .55) 15%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/horse-stop.jpg") no-repeat 40% 50%;
    background-size: cover;
    height: 300px;

    @include desktop() {
        // option-2
        // background: linear-gradient(to right, rgba(0, 0, 0, .55) 15%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.55) 90%), url("../assets/img/horse-stop.jpg") no-repeat 50% 50%;
        background: linear-gradient(to right, rgba(0, 0, 0, .55) 15%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.35) 90%), url("../assets/img/hero-desktop3.jpg") no-repeat 50% 50%;
        background-size: cover;
        // height: 400px;
        height: 280px;
    }

    &-text {
        max-width: 360px;
        position: relative;
        top: 3%;
        margin: 0 auto;
        color: $white;
        letter-spacing: $spacing-large-mobile;
        text-transform: uppercase;
        text-align: center;

        @include desktop() {
            top: 7rem;
            left: 50%;
            transform: translatex(-50%);
            max-width: none;
            margin: 0;
            text-align: initial;
            letter-spacing: $spacing-large;
        }

        h1 {
            padding-bottom: 15px;
            line-height: $line-height-lg;
            text-align: center;

            @include desktop() {
                margin-left: 1.5%;
                line-height: normal;
            }

            span {
                display: block;
                position: relative;
            }
        }

        .lines {
            width: fit-content;
            position: relative;

            @include desktop() {
                font-size: 0.95rem;
            }

            span::before,
            span::after {
                @include desktop() {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 1px;
                    background: $teal;
                    position: absolute;
                }
            }

            span::before {
                left: 3rem;
                top: 75%;

                @include desktop() {
                    left: -2rem;
                    top: 50%;
                }
            }

            span::after {
                right: 3.5rem;
                top: 75%;

                @include desktop() {
                    right: -1.5rem;
                    top: 50%;
                }
            }
        }
    }

    a.main-btn {
        position: relative;
        top: 2rem;

        @include desktop() {
            top: 9rem
        }
    }

    h2 {
        @include desktop() {
            font-size: 2em;
        }
    }
}

#home {
    .hero {
        height: 600px;

        @include desktop() {
            height: 800px;
        }

        #nav {
            background: none;
            border: none;

            a {
                color: $white;
            }

            .nav-wrapper {
                background: none;
            }
        }

        .title-small {
            margin: 1rem auto 0;
            max-width: 300px;

            @include desktop {
                margin: 0 auto;
                max-width: none;
            }
        }

        .main-btn:hover {
            border: 2px solid $teal;
        }
    }

    .news {
        &-tile {
            padding-top: 0;

            &-text {
                width: 800px;
                padding: 2rem;
                text-align: center;
            }

            &-wrapper {
                @include desktop() {
                    padding-bottom: 0;
                }
            }
        }

        h3 {
            text-align: center;
        }

        img {
            height: auto;
            width: auto;
        }

        .read-more {
            text-align: center;
            line-height: normal;
            padding-top: 10px;

            a {
                font-weight: 600;
            }
        }
    }
}

//homepage - cta button
.cta {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $dark;
}

//homepage - quick words
// <img> : 350 x 253
.quick-words {
    background: linear-gradient(to bottom, rgba(11, 11, 11, 0.65) 15%, rgba(11, 11, 11, 0.65) 100%), url("../assets/img/background-1.jpg") no-repeat 40% 50%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop() {
        height: 600px;
    }

    &-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;

        @include desktop() {
            margin: 0 auto;
            max-width: 900px;
        }
    }

    &-top {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        max-width: 400px;


        @include desktop() {
            height: 350px;
            min-width: 768px;
            max-width: 900px;
        }
    }

    &-title {
        text-align: center;
        width: fit-content;

        @include desktop () {
            text-align: left;
            position: relative;
            right: -26rem;
            top: 5.5rem;
        }
    }

    img {
        position: relative;
        z-index: 1;
        width: 100%;
        box-shadow: $shadow;
        margin-top: 0.5rem;

        @include desktop {
            max-width: 450px;
            position: relative;
            right: 9%;
            top: -6%;
        }
    }

    &-bottom {
        background-color: $dark-medium;
        padding: 60px 4% 5px;
        margin: -30px auto 0;
        width: 95vw;
        max-width: 600px;
        text-align: left;

        @include desktop {
            position: relative;
            max-width: 720px;
            left: 3%;
            top: -20%;
            padding: 30px;

            .text-block,
            .read-more {
                padding-left: 22rem;
            }

            .line::after {
                right: -4rem;
            }
        }

        a {
            color: $teal;
        }
    }
}

//homepage - 3 cards 
// background img size: 314 x 400
.card {
    @include desktop {
        display: flex;
    }

    .lines {
        color: $teal;
        width: fit-content;
        position: relative;

        span::before,
        span::after {
            content: "";
            display: block;
            width: 20px;
            height: 1px;
            background: $teal;
            position: absolute;
        }

        span::before,
        span::after {
            top: 50%;
        }
    }

    .card-wrapper {
        flex-basis: 33.33%;
        padding: 20px;

        .card-border {
            border: 1px solid transparent;

            &:hover {
                border: 1px solid grey;
            }
        }

        &.one {
            // option-2
            background: linear-gradient(to bottom, rgba(11, 11, 11, .3) 10%, rgba(11, 11, 11, 0.85) 80%), url("../assets/img/meet-trainers-v2.jpg") no-repeat 50% 15%;
            // background: linear-gradient(to bottom, rgba(11, 11, 11, .3) 10%, rgba(24, 20, 16, 0.85) 80%), url("../assets/img/meet-trainers-v2.jpg") no-repeat 50% 15%;
            background-size: cover;

            &:hover {
                background: linear-gradient(to bottom, rgba(11, 11, 11, .15) 15%, rgba(11, 11, 11, 0.8) 100%), url("../assets/img/meet-trainers-v2.jpg") no-repeat 50% 15%;
                background-size: cover;
            }

            .lines span::before {
                left: -17%;

                @include desktop() {
                    left: -28px;
                }
            }

            .lines span::after {
                right: -10%;

                @include desktop() {
                    right: -17px;
                }
            }
        }

        &.two {
            // option-2
            background: linear-gradient(to bottom, rgba(11, 11, 11, .3) 10%, rgba(11, 11, 11, 0.95) 80%), url("../assets/img/lessons2.jpg") no-repeat 60% 60%;
            // background: linear-gradient(to bottom, rgba(11, 11, 11, .3) 10%, rgba(24, 20, 16, 0.95) 80%), url("../assets/img/lessons2.jpg") no-repeat 60% 60%;
            background-size: cover;

            @include desktop {
                order: -1;
            }

            &:hover {
                background: linear-gradient(to bottom, rgba(11, 11, 11, .15) 15%, rgba(11, 11, 11, 0.85) 100%), url("../assets/img/lessons2.jpg") no-repeat 60% 60%;
                background-size: cover;
            }

            .lines span::before {
                left: -25%;

                @include desktop() {
                    left: -28px;
                }
            }

            .lines span::after {
                right: -17%;

                @include desktop() {
                    right: -17px;
                }
            }
        }

        &.three {
            // option-2
            background: linear-gradient(to bottom, rgba(11, 11, 11, .35) 15%, rgba(11, 11, 11, 0.95) 80%), url("../assets/img/breeding2.jpg") no-repeat 50% 60%;
            // background: linear-gradient(to bottom, rgba(11, 11, 11, .35) 15%, rgba(24, 20, 16, 0.95) 80%), url("../assets/img/breeding2.jpg") no-repeat 50% 60%;
            background-size: cover;

            &:hover {
                background: linear-gradient(to bottom, rgba(11, 11, 11, .15) 15%, rgba(11, 11, 11, 0.75) 100%), url("../assets/img/breeding2.jpg") no-repeat 50% 60%;
                background-size: cover;
            }

            .lines span::before {
                left: -17%;

                @include desktop() {
                    right: -17px;
                }
            }

            .lines span::after {
                right: -10%;

                @include desktop() {
                    right: -17px;
                }
            }
        }
    }

    .card-border {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 400px;

        @include desktop() {
            height: 630px;
        }
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
    }

    .main-btn {
        margin-top: 37px;
    }

    span {
        display: block;
        width: max-content;
    }

}

//homepage - news
// <img> : 450 x 320
.news {
    background: $dark-medium;

    &-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 1200px;
        margin: 0 auto;
    }

    &-text {
        padding-left: 2%;
        padding-right: 2%;
    }

    &-tile {
        padding-top: 50px;
    }

    &-tile-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;

        @include desktop {
            display: flex;
            justify-content: space-around;
            padding-bottom: 60px;
        }
    }

    img {
        position: relative;
        z-index: 1;
        width: 450px;
        max-width: 95%;
        box-shadow: $shadow;

        @include desktop {
            height: 320px;
        }
    }

    &-tile-text {
        position: relative;
        text-align: left;
        background: $off-white;
        padding: 4%;
        z-index: 2;
        width: 400px;
        max-width: 90%;
        margin-top: -50px;

        @include desktop {
            margin-top: -110px;
            padding: 15px;
        }

        .text-block {
            color: black;
            padding-top: 0.5rem;
            @include montserrat();
        }

        .paragraph-large {
            @include montserrat-bold();
            text-transform: capitalize;
            letter-spacing: normal;
        }

        .read-more {
            a {
                color: $teal;
            }

            .line::after {
                @include desktop {
                    right: -4rem;
                }
            }
        }
    }

    .tile-stories,
    .tile-events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// homepage - 4 column stats
.stats {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // gap: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 1200px;
        margin: 0 2rem;

        @include desktop {
            margin: 0 auto;
        }
    }

    &-inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 25px;

        @include desktop {
            flex-direction: row;
            flex: 50%;
            gap: 0;
        }
    }

    &-set {
        display: flex;
        flex-direction: column;
        align-items: center;
        // width: 50%;

        @include desktop {
            // max-width: 23%;
            flex-basis: 50%;
        }
    }

    &-number {
        @include montserrat;
        font-size: 1.5rem;
        padding-bottom: 0;
        color: $teal;
        line-height: 3rem;

        @include desktop {
            // font-size: 1.75rem;
            font-size: 2.5rem;
            padding-bottom: 1.5rem;
        }
    }


    .title-small {
        color: black;
    }


    &-text {
        margin-right: -$spacing-large-mobile;

        @include desktop {
            letter-spacing: $spacing-large;
        }
    }

    hr {
        width: 40px;
        margin-top: 20px;
        color: $teal;
    }
}