// =========================
// Club TCNA Page
// =========================
#page-tcna {
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, 0.75) 90%), url("../assets/img/show-zadok-mobile.webp") no-repeat center center;
        background-size: cover;
        box-shadow: $shadow;

        @include desktop() {
            background: linear-gradient(to right, rgba(0, 0, 0, .75) 15%, rgba(0, 0, 0, 0.75) 90%), url("../assets/img/show-zadok.webp") no-repeat center center;
            background-size: cover;
            height: 600px;
        }
    }

    .quick-words {
        .line::after {
            right: -4rem;
        }
    }

    .no-border {
        border: none;
    }

    .cta {
        background: $dark-medium;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    #goals-mission {
        .goal-wrapper {
            width: calc(min(58rem, 90%));
        }

        position: relative;
        margin: 0 auto;
        width: 100%;
        column-gap: 3rem;
        padding-block: min(20vh, 4rem);
        text-align: center;
        background: $dark-medium;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            letter-spacing: 0.5rem;
            margin-bottom: 4rem;
        }

        p {
            margin-top: 1rem;
            @include montserrat();
            color: black;
        }
    }

    .swiper-wrapper div {
        width: 350px;
    }

    .swiper-container {
        position: relative;
        --swiper-theme-color: #fff;
        height: 500px;
        max-width: 1200px;
        margin-top: 30px;

        --swiper-navigation-top-offset: 50%;
        --swiper-navigation-sides-offset: -30px;
        --swiper-navigation-color: var(--swiper-theme-color);

    }

    .swiper-wrapper {
        @include desktop {
            transform: none !important;
        }
    }


    .swiper-slide {
        border: 1px solid $teal;
        box-shadow: -1px 5px 15px black;

        h2 {
            padding: 0;
            font-size: 1.6rem;
            margin-right: -0.75rem;
        }

        h3 {
            padding: 0 1rem;
            color: $dark;
            font-size: 1.2rem;
            line-height: 1.4;
            margin-bottom: 0.625rem;
            letter-spacing: 0.4px;
            position: relative;
        }

        .slide-content {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -45%);
            width: 90%;
        }
    }

    .swiper-slide-active .author {
        display: grid;
        opacity: 1;
    }

    .swiper-slide--one {
        background: $off-white;
    }

    .swiper-slide--two {
        background: $off-white;
    }

    .swiper-slide--three {
        background: $off-white;
    }
}

.swiper-button {
    border-radius: 50%;
    top: 47%;
    width: 50px !important;
    height: 50px !important;
    box-shadow: 0px 2px 11px rgb(0 0 0 / 17%);
}

.swiper-button-prev,
.swiper-button-next {
    display: none;

    @media (min-width: 760px) {
        display: flex;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none !important;
}